<mat-dialog-content>
  <h1>WARNING!</h1>
  <p>
      This is a Demo,  Alpha Advantage's API limits are 5 requests per minute on the free API Key. Therefore you may experiance some weird behavior, things like graphs not loading in, empty page, missing stock information. Listen, I get it,you want to track your stocks, get the real time intra-day stock prices, but you must understand; If someone else is using this demo at the same time as you, it will not work and you will have to wait a minute and refresh the page. It be like that sometimes... <br> Normally the API key would allow more requests but its mad expensive and I need a job so... <br>
      <a href="">Code here</a>

  </p> 

</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>