.board{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    height: auto;
    margin-top: 80px;
}
.navbar{
    height: 75px;
    background-color: rgba(255, 255, 255, 0.329);
    border-bottom: 3px solid rgba(255, 255, 255, 0.137);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    .stocks{
        position: absolute;
        font-family: 'Montserrat';
        font-size: 32px;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.568);
        text-align: left;
        flex: 0 0 200px;
        margin-left: 250px;
    }
    .search{
        position: relative;
        flex: 0 0 200px;
        input{
            position: relative;
            color: white;
            padding: 10px;
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 2px solid rgba(248, 248, 248, 0.493);
            text-align: center;
            font-family: 'Montserrat';
            font-size: 20px;
            background-color: rgba(182, 182, 182, 0.048);
        }
        input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(248, 248, 248, 0.904);
        }
        .searchResults{
            position: absolute;
            margin: 0;
            padding: 0;
            top: 55px;
            list-style: none;
            width: 225px;

            .searchResult{
                background-color: white;
                text-align: left;
                padding: 15px 15px;
            }
            .searchResult:hover{
                background-color: rgb(221, 221, 221);
            }
        }
    }
}
