<div class="navbar">
  <div class="search">
    <input type="text" placeholder="SEARCH" (keyup)="searchTerm$.next($event.target.value)">
    <div class="searchResults" *ngIf="searchResults">
        <div class="searchResult" *ngFor="let result of searchResults" (click)="foo(this.result)">
            {{result['1. symbol']}} |  {{result['2. name']}}
        </div>
      </div>
  </div>
  <div class="stocks">
      {{stocks.length}} / 2
    </div>
  
</div>
<div class="board">
    <app-stock *ngFor="let stock of stocks" [stock]="stock" (remove)="removeStock(stock)"></app-stock>
</div>