/* You can add global styles to this file, and also import other style files */
body,html{
    
    padding: 0px;
    margin: 0px;
    height: 100%;
    background: #74ebd5; /* fallback for old browsers */
    background-repeat:repeat;
    background-size: cover;
    background: -webkit-linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
